---
---
@import "{{ site.theme }}";

a
{
    color:rgb(40, 225, 40);
}

body
{
    background-color: #2a2a2a;
    background-image:none;
}

header
{
    background-color: #505050;
    background-image:none;
    h1
    {
        text-shadow: none;
    }
}

#banner
{
    background-color: rgb(55, 53, 53);
    border:none;
    background-image:none;
    #logo
    {
        color:white;
    }
    .button
    {
        border: none;
        background-color:white;
    }
}
